<% layout('layout') -%>



<div class="posts">
<ul>
  <% posts.forEach(function(post) { %>
  <li>
    
    <div id="all">
      <div id="voter">
        
          <div>
            <form action="/posts?sort=<%=sort%>" method="post">
                <input type="hidden" name="vote" value="1">
                <input type="hidden" name="postId" value=<%= post.id %>>
                <button id="up" type="submit">⬆</button>
            </form>
          </div>
          
          <div>
            <form action="/posts?sort=<%=sort%>" method="post">
                <input type="hidden" name="vote" value="-1">
                <input type="hidden" name="postId" value= <%= post.id %>>
                <button id="down" type="submit">⬇</button>
            </form>
          </div>
          
      </div>
    
      <div id="post">
        <h3><a href="<%= post.url %>"><%= post.title %></a></h3>
        <p>Posted by: <span><%= post.user.username %></span></p>
        <p>Date: <span><%= post.createdAt %></span></p>
        <p>Votes: <span><%= post.voteScore ? post.voteScore : 0 %></span></p>
        <p>
          <a href="https://reddit-nodejs-api-workshop-klingat.c9users.io/comment?id=<%= post.id%>">Comment</a> 
          &nbsp; 
          <a href="https://reddit-nodejs-api-workshop-klingat.c9users.io/allcomments?id=<%= post.id%>">View comments(<%= post.totalComments%>)</a>
        </p>
    </div>
    </div>
    
  </li>
  
  <% }); %>
</ul>
</div>